:root {
	--cell-size: 0px;
	--rows: 0;
	--cols: 0;
}

body {
	background-color: lightblue;
}

.container {
	width: calc(var(--cell-size) * var(--cols));
	height: calc(var(--cell-size) * var(--rows));
	
	grid-template-rows: repeat(var(--rows), var(--cell-size));
	grid-template-columns: repeat(var(--cols), var(--cell-size));

	display: grid;
	margin: 0 auto;
	background-color: darkblue;
	align-items: center;
	justify-content: center;
}

.cell {
	display: flex;
	width: var(--cell-size);
	height: var(--cell-size);
	background-color: white;
	align-items: center;
	justify-content: center;
	outline: 1px solid black;
}