:root {
	--cell-size: 0px;
	--rows: 0;
	--cols: 0;
	--game-state: false;
}

body {
	background-color: lightblue;
}

.container {
	width: calc(var(--cell-size) * var(--cols));
	height: calc(var(--cell-size) * var(--rows));
	grid-template-rows: repeat(var(--rows), var(--cell-size));
	grid-template-columns: repeat(var(--cols), var(--cell-size));

	display: grid;
	margin: 0 auto;
	background-color: darkblue;
	align-items: center;
	justify-content: center;
}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);

	color: white;
	display: flex;
	background-color: white;
	align-items: center;
	justify-content: center;
	border: 1px solid rgb(150, 150, 150);
	box-sizing: border-box;
	cursor: default;
}

.cell.revealed {
	background-color: rgb(70, 70, 70);
	border: 1px solid rgb(100, 100, 100);
	transition: 0.2s;
}

.popup {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	gap:;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 200px;
	height: 150px;
	background-color: rgba(40, 40, 100, 0.75);
	font-family: "Comic Sans MS";
	border-radius: 25px;
	border: 4px solid white;
}

#popup_text {
	font-size: 30px;
	color: white;
}

#retry_btn {
	font-family: "Comic Sans MS";
	border-radius: 5px;
}

.info_window {
	font-family: Comic Sans MS;
	color: white;
	
	display: flex;
	align-items: center;
	justify-content: center;
}